<div>
  <div class="titulo">
    <h1>Movimentos Manuais</h1>
  </div>
  <div class="forms">
    <app-forms (updateData)="getData($event)"></app-forms>
  </div>
  <div class="tabela">
    <div *ngIf="movimentosManuais != null && movimentosManuais.length == 0">
      <div class="text-center loading spinner">
        <div class="spinner-grow text-primary" style="width: 3rem; height: 3rem;" role="status">
          <span class="sr-only"></span>
        </div>
        <div>
          <span>Carregando dados...</span>
        </div>
      </div>
    </div>
    <div *ngIf="movimentosManuais != null &&  movimentosManuais.length > 0">
      <app-tables [headers]="titles" [(data)]="movimentosManuais">
      </app-tables>
    </div>
  </div>
</div>
