<div class="container formnopadding">

  <form [formGroup]="movimentoManualForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-sm">
        <div class="form-group">
          <label for="Mes">Mês:</label>
          <input type="number" class="form-control" [ngClass]="{'is-valid':mes.valid === true}" id="Mes" formControlName="mes" [disabled]="disabledInputs">
          <div *ngIf="mes.invalid && (mes.dirty || mes.touched)">
            <div *ngIf="mes.errors?.min || mes.errors?.max">
              <div class="invalid-form">
                O mês deve ser entre 1 e 12
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="Produto">Produto:</label>
          <select class="form-control" id="Produto" formControlName="produto" (change)="onChange($event)" [ngClass]="{'is-valid':produto.valid === true}">
            <option value="" disabled>--Selecione--</option>
            <option *ngFor="let prod of produtos; let i = index" [value]="produtos[i].codigoProduto">
              {{produtos[i].descricaoProduto}}</option>
          </select>
          <div *ngIf="produto.errors?.required">
            <div class="invalid-form">
              Produto deve ser selecionado
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="Valor">Valor:</label>
          <input type="number" class="form-control" id="Valor" formControlName="valor" [disabled]="disabledInputs">
          <div *ngIf="valor.errors?.min ">
            <div class="invalid-form">
              O valor deve ser maior que zero.
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="descricao">Descricao:</label>
          <textarea class="form-control" id="descricao" formControlName="descricao"
            [disabled]="disabledInputs"></textarea>
          <div *ngIf="descricao.errors?.required">
            <div class="invalid-form">
             Descricao deve ser preenchida.
            </div>
          </div>
        </div>
        <div class="actionbuttons">
          <button type="button" class="btn btn-primary" (click)="ResetarCampos()">Limpar</button>
          <button type="button" class="btn btn-primary" (click)="NovoMovimentoManual()">Novo</button>
          <button type="submit" [disabled]="!movimentoManualForm.valid" class="btn btn-primary">Incluir</button>
        </div>
      </div>
      <div class="col-sm">
        <div class="form-group">
          <label for="Ano">Ano:</label>
          <input type="number" class="form-control" id="Ano" formControlName="ano" [disabled]="disabledInputs" [ngClass]="{'is-valid':ano.valid === true}">
          <div *ngIf="ano.errors?.required">
            <div class="invalid-form">
              O Ano deve ser preenchido
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="cosif">Cosif:</label>
          <select class="form-control" id="cosif" formControlName="cosif" [ngClass]="{'is-valid':cosif.valid === true}">
            <option value="" disabled>--Selecione--</option>
            <option *ngFor="let produtoc of produtosCosif,let i = index" [value]="produtosCosif[i].codigoCosif">
              {{produtosCosif[i].codigoCosif}} - ({{produtosCosif[i].codigoClassificacao}})</option>
          </select>
          <div *ngIf="cosif.errors?.required">
            <div class="invalid-form">
              Cosif deve ser selecionado
            </div>
          </div>
        </div>
      </div>
    </div>
    <pre>
      {{movimentoManualForm.value |json}}
    </pre>
  </form>
</div>