body {
}
.actionbuttons{
  float:right

}
.actionbuttons > button{
  margin-left:5px;
  border-radius:unset
}
.formnopadding{
  padding-left:0px !important;
  padding-right:0px !important;
}


.ng-valid:not(form){
  border: px solid #42A948;
}
.ng-invalid:not(form)  {
  border: 1px solid #a94442; /* red */
}
.invalid-form{
  color: #a94442;
}
