<header>
  <nav class='navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3'>
    <div class="container">
      <a class="navbar-brand" [routerLink]='["/"]'>Exame Asp.NET Core + SQL SERVER (Itaú)</a>
    </div>
  </nav>
</header>
