<br />
<div class="container formnopadding">
  <table *ngIf="data.length>0" class="table table-bordered movimentosmanuais">
    <thead>
      <tr class="colorheaders">
        <th *ngFor="let title of headers">{{title}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let d of data;let i = index" [ngClass]="{'colorheaders':i % 2!=0}">
        <td>{{d.mes}}</td>
        <td>{{d.ano}}</td>
        <td>{{d.codigoProduto}}</td>
        <td>{{d.produtoCosif.produto.descricaoProduto}}</td>
        <td>{{d.numeroLancamento}}</td>
        <td>{{d.descricao}}</td>
        <td>{{d.valor | currency : 'R$' }}</td>
        <td><i-bs name="trash" (click)="deletaMovimentoManual(d.id)"></i-bs></td>
      </tr>
    </tbody>
  </table>
</div>
