body {
}

.movimentosmanuais > thead > tr, .movimentosmanuais > tbody > tr {
  text-align: center
}


.colorheaders {
  background-color: #f4f2f2
}
.formnopadding {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
